<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EMS254</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom CSS for Navbar */
    .navbar-custom {
      background-color: #045BDE; /* Set the background color */
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
      color: white; /* Set the text color */
    }

    /* Custom CSS to make the hamburger menu icon white */
    .navbar-toggler-icon {
      background-color: white; /* Set the background color to white */
    }

    /* Custom CSS to make the "Log In" link white */
    .nav-link-white {
      color: white !important; /* Set the text color to white */
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-custom"> <!-- Use the custom class for Navbar -->
    <a class="navbar-brand" href="#">EMS254</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-link-white" href="#">My Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-white" href="#">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-white" href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-white" href="#">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
    </div>
  </nav>


  <section class="content text-center"> <!-- Center-align the content -->
    <h2>Welcome to EMS254</h2>

    <h3>Never Buy or Sell Online Without EMS254</h3>

    <h4>With EMS254 you can buy and sell anything safely without the risk of chargebacks. Truly secure payments.</h4>

    <button type="button" class="btn btn-success"> Start a Transaction</button>
  </section>


  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <span class="h4 sectionHero-upsell-text">Buy or sell your vehicle safely and confidently</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="sectionHero-steps" data-component="steps-rotator">
          <div class="sectionHero-steps-decorator sectionHero-steps-decorator--above"></div>
          <ol class="list-group sectionHero-upsell-list">
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer and seller agree on terms
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer pays EMS254
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Seller ships the vehicle
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer inspects and approves vehicle
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                EMS254 pays the seller
              </span>
            </li>
          </ol>
          <div class="sectionHero-steps-decorator sectionHero-steps-decorator--below"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <span class="h4 sectionHero-upsell-text">Complete protection for merchandise transactions</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="sectionHero-steps" data-component="steps-rotator">
          <div class="sectionHero-steps-decorator sectionHero-steps-decorator--above"></div>
          <ol class="list-group sectionHero-upsell-list">
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer and seller agree on terms
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer pays EMS254
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Seller ships the merchandise
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer inspects and approves goods
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                EMS254 pays the seller
              </span>
            </li>
          </ol>
          <div class="sectionHero-steps-decorator sectionHero-steps-decorator--below"></div>
        </div>
      </div>
    </div>
  </div>

  <section class="section apiIntroduction">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="sectionHeading sectionHeading--alignLeft">
            <span class="section-status badge badge-primary">New</span>
            <h2 class="apiIntroduction-title sectionHeading-title">Watches bought and sold on eBay with the security of EMS254</h2>
          </div>
          <p class="apiIntroduction-desc">
            eBay has partnered with EMS254 to help facilitate all payments on watches sold for $10,000 or more in the U.S. In order to enhance the luxury watch shopping experience, eBay covers any fees charged by EMS254 for the use of their service when purchasing eligible watches.
          </p>
          <a href="#" class="btn btn-primary btn-lg">Learn More</a>
        </div>
        <div class="col-md-6">
          <figure class="apiIntroduction-figure">
            <img src="https://www.escrow.com/build/images/ebay/ebay_watch_front.jpg" class="apiIntroduction-img img-fluid" alt="Escrow.com integration with eBay Watches">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="section apiIntroduction">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span class="section-status badge badge-primary">New</span>
          <figure class="apiIntroduction-figure">
            <img src="https://www.escrow.com/build/images/ebayPromo/ebayGeneric.jpg" class="apiIntroduction-img img-fluid">
          </figure>
        </div>
        <div class="col-md-6">
          <div class="sectionHeading sectionHeading--alignLeft">
            <h2 class="apiIntroduction-title sectionHeading-title">eBay integrates EMS254 enabling the buying and selling of vehicles online</h2>
          </div>
          <p class="apiIntroduction-desc">
            EMS254 is integrated into both the eBay Motors website and mobile app, and is the first digital payment option since the launch of the new eBay Motors app in December 2023.
          </p>
          <a href="#" class="btn btn-primary btn-lg">Learn More</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section howItWorks" id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="text-center">
                    <h2 class="sectionHeading-title" role="heading">Over $5 billion of transactions protected with Escrow.com</h2>
                    <div class="sectionHeading-subTitle">Escrow.com is the world’s most secure payment method from a counterparty risk perspective - safeguarding both buyer and seller, all funds transacted using escrow are kept in trust.</div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="steps-step text-center">
                    <div class="steps-image">
                      <svg width="111" height="77" xmlns="http://www.w3.org/2000/svg">
                      </div>
                    <div class="steps-title">Buyer and Seller agree to terms</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="steps-step text-center">
                    <div class="steps-image">
                        <svg width="124" height="145" xmlns="http://www.w3.org/2000/svg">
                            <!-- SVG content for step 2 -->
                        </svg>
                    </div>
                    <div class="steps-title">Buyer submits payment to Escrow</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="steps-step text-center">
                    <div class="steps-image">
                        <svg width="101" height="101" xmlns="http://www.w3.org/2000/svg">
                            <!-- SVG content for step 3 -->
                        </svg>
                    </div>
                    <div class="steps-title">Seller delivers goods or service to buyer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="steps-step text-center">
                    <div class="steps-image">
                        <svg width="91" height="103" xmlns="http://www.w3.org/2000/svg">
                            <!-- SVG content for step 4 -->
                        </svg>
                    </div>
                    <div class="steps-title">Buyer approves goods or services</div>
                </div>
            </div>
        </div>
        <footer class="section-footer d-flex justify-content-center align-items-center">
          <div class="section-footer-actions text-center">
              <a href="#" class="btn btn--secondary section-footer-btn btn--large">Get started now with EMS254</a>
              <div>
                  <a href="#" class="section-footer-link">Learn More about EMS254</a>
              </div>
          </div>
      </footer>
    </div>
</section>

<section class="section services" id="services">
  <div class="container">
    <header class="section-header">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-heading" role="heading">Safely buy and sell products and services from $100 to $100 million or more</h2>
        </div>
      </div>
    </header>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <ul class="site-features row justify-content-around">
          <li class="site-features-item col-md-5">
            <div class="site-features-icon-holder">
              <svg width="48" height="44" viewBox="0 0 48 44" xmlns="http://www.w3.org/2000/svg">
                <!-- Your SVG path here -->
              </svg>
            </div>
            <div>
              <h3 class="site-features-title">Domain Names</h3>
              <p class="site-features-desc">EMS254 is the dominant payment method for the buying and selling of domain names, with transactions including uber.com, snapchat.com, spacex.com, twitter.com, instagram.com, freelancer.com, gmail.com, slack.com, wechat.com, chrome.com, and wordpress.com.</p>
              <a href="/domains" class="btn btn-primary site-features-cta">Learn More</a>
            </div>
          </li>
          <li class="site-features-item col-md-5">
            <div class="site-features-icon-holder">
              <svg width="66" height="30" viewBox="0 0 66 30" xmlns="http://www.w3.org/2000/svg">
                <!-- Your SVG path here -->
              </svg>
            </div>
            <div>
              <h3 class="site-features-title">Motor Vehicles</h3>
              <p class="site-features-desc">When buying classic cars, a used sailboat, or even an aircraft engine, EMS254 ensures money transfer and vehicle delivery with every sale. Our experienced personnel can even help you with shipping documentation, titles, liens, and more.</p>
              <a href="/cars" class="btn btn-primary site-features-cta">Learn More</a>
            </div>
          </li>
          <li class="site-features-item col-md-5">
            <div class="site-features-icon-holder">
              <svg width="58" height="43" viewBox="0 0 58 43" xmlns="http://www.w3.org/2000/svg">
                <!-- Your SVG path here -->
              </svg>
            </div>
            <div>
              <h3 class="site-features-title">Electronics</h3>
              <p class="site-features-desc">EMS254 handles the buying and selling large scale computer setups, professional sound systems, and all manner of electronic equipment both big and small.</p>
              <a href="/electronics" class="btn btn-primary site-features-cta">Learn More</a>
            </div>
          </li>
          <li class="site-features-item col-md-5">
            <div class="site-features-icon-holder">
              <svg width="51" height="50" viewBox="0 0 51 50" xmlns="http://www.w3.org/2000/svg">
                <!-- Your SVG path here -->
              </svg>
            </div>
            <div>
              <h3 class="site-features-title">General Merchandise</h3>
              <p class="site-features-desc">From computer hardware to luxury goods, you can safely and easily buy and sell merchandise all over the world with the protection of EMS254.</p>
              <a href="/general-merchandise" class="btn btn-primary site-features-cta">Learn More</a>
            </div>
          </li>

          <li class="site-features-item col-md-5">
            <div class="site-features-icon-holder">
              <svg width="58" height="43" viewBox="0 0 58 43" xmlns="http://www.w3.org/2000/svg">
                <!-- Your SVG path here -->
              </svg>
            </div>
            <div>
              <h3 class="site-features-title">Milestone Transactions</h3>
              <p class="site-features-desc">Paying for a good or service and want money released only at certain stages? Use EMS254 to assure that money is released only when you're happy with each step.</p>
              <a href="/electronics" class="btn btn-primary site-features-cta">Learn More</a>
            </div>
          </li>
          <li class="site-features-item col-md-5">
            <div class="site-features-icon-holder">
              <svg width="51" height="50" viewBox="0 0 51 50" xmlns="http://www.w3.org/2000/svg">
                <!-- Your SVG path here -->
              </svg>
            </div>
            <div>
              <h3 class="site-features-title">Jewelry, Watches, and Fashion</h3>
              <p class="site-features-desc">Buying and selling expensive jewelry online can be difficult, as it is extremely difficult to spot a scam. EMS254 simple 5-step process ensures money transfer and jewelry delivery with every sale.</p>
              <a href="/general-merchandise" class="btn btn-primary site-features-cta">Learn More</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section apiIntroduction">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-5">
              <figure class="apiIntroduction-figure d-none d-md-block">
                  <img src="#" class="apiIntroduction-img apiIntroduction-img--pay" alt="Escrow Pay: Secure payments in one line of code.">
              </figure>
          </div>
          <div class="col-md-6 text-md-right">
              <div class="sectionHeading">
                  <h2 class="apiIntroduction-title sectionHeading-title">Escrow Pay: Secure payments in one line of code.</h2>
              </div>
              <p class="apiIntroduction-desc">
                  Escrow Pay is the simplest way to add escrow payments to your website, mobile app, online store, classified site, or marketplace.
              </p>
              <a href="/pay" class="btn btn-primary">Learn More</a>
          </div>
      </div>
  </div>
</section>

<section class="section apiIntroduction">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-6">
              <div class="sectionHeading">
                  <h2 class="apiIntroduction-title sectionHeading-title">Introducing Escrow Offer</h2>
              </div>
              <p class="apiIntroduction-desc">
                  Escrow Offer allows buyers and sellers to negotiate a price for domain names, cars, boats, aircraft, fine art, or any high-value item on any website or mobile app through a <a href="/buttons/create">Make Offer button</a> or API call - protected by the security of escrow payments by Escrow.com.
              </p>
              <a href="/offer" class="btn btn-primary ">Learn More</a>
          </div>
          <div class="col-md-6 text-md-right">
              <figure class="apiIntroduction-figure d-none d-md-block">
                  <img src="#" class="apiIntroduction-img" alt="Introducing Escrow Offer">
              </figure>
          </div>
      </div>
  </div>
</section>

<section class="section licensing" id="licensing">
  <div class="container licensing-container">
      <div class="row align-items-center">
          <div class="col-md-6 d-none d-md-block">
              <img src="https://www.escrow.com/build/images/sections/licensing/map.png" width="500" height="300" class="licensing-img" alt="The most trusted, licensed online escrow service in the world">
          </div>
          <div class="col-md-6">
              <h2 class="sectionHeading-title" role="heading">The most trusted, licensed online escrow service in the world</h2>
              <div class="licensing-subtitle">Headquartered in California, Escrow.com is licensed, bonded and regularly audited.</div>
              <p class="sectionHeading-subTitle">Government agencies perform regular audits of independently licensed escrow companies. The audit examinations serve to protect public funds, determine safety and soundness of operations and determine compliance with escrow statutes and regulations.</p>
          </div>
      </div>
  </div>
</section>


  <!-- Add Bootstrap JavaScript (optional, for some components) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
