<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EMS254</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Custom CSS for Navbar */
    .navbar-custom {
      background-color: #045BDE; /* Set the background color */
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
      color: white; /* Set the text color */
    }

    /* Custom CSS to make the hamburger menu icon white */
    .navbar-toggler-icon {
      background-color: white; /* Set the background color to white */
    }

    /* Custom CSS to make the "Log In" link white */
    .nav-link-white {
      color: white !important; /* Set the text color to white */
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-custom"> <!-- Use the custom class for Navbar -->
    <a class="navbar-brand" href="#">EMS254</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-link-white" href="#">My Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-white" href="#">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-white" href="#">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-white" href="#">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
    </div>
  </nav>


  <section class="content text-center"> <!-- Center-align the content -->
    <h2>Welcome to EMS254</h2>

    <h3>Never Buy or Sell Online Without EMS254</h3>

    <h4>With EMS254 you can buy and sell anything safely without the risk of chargebacks. Truly secure payments.</h4>

    <button type="button" class="btn btn-success"> Start a Transaction</button>
  </section>


  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <span class="h4 sectionHero-upsell-text">Buy or sell your vehicle safely and confidently</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="sectionHero-steps" data-component="steps-rotator">
          <div class="sectionHero-steps-decorator sectionHero-steps-decorator--above"></div>
          <ol class="list-group sectionHero-upsell-list">
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer and seller agree on terms
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer pays EMS254
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Seller ships the vehicle
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer inspects and approves vehicle
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                EMS254 pays the seller
              </span>
            </li>
          </ol>
          <div class="sectionHero-steps-decorator sectionHero-steps-decorator--below"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <span class="h4 sectionHero-upsell-text">Complete protection for merchandise transactions</span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="sectionHero-steps" data-component="steps-rotator">
          <div class="sectionHero-steps-decorator sectionHero-steps-decorator--above"></div>
          <ol class="list-group sectionHero-upsell-list">
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer and seller agree on terms
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer pays EMS254
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Seller ships the merchandise
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                Buyer inspects and approves goods
              </span>
            </li>
            <li class="list-group-item sectionHero-upsell-item disabled">
              <svg class="sectionHero-upsell-icon" width="19" height="16" viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><path d="M5.69 6.892l2.322 2.21L16.35.312c.38-.4 1.012-.418 1.413-.038.4.38.417 1.013.037 1.414l-9.027 9.517c-.38.402-1.014.418-1.415.037L4.31 8.34c-.4-.38-.415-1.014-.034-1.414.38-.4 1.014-.415 1.414-.034zM11.836.978c.484.265.662.873.397 1.357-.265.485-.873.663-1.357.398C10.002 2.253 9.02 2 8 2 4.686 2 2 4.686 2 8s2.686 6 6 6 6-2.686 6-6c0-.552.448-1 1-1s1 .448 1 1c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8c1.358 0 2.67.34 3.836.978z" fill-rule="nonzero"/></svg>
              <span class="sectionHero-upsell-desc">
                EMS254 pays the seller
              </span>
            </li>
          </ol>
          <div class="sectionHero-steps-decorator sectionHero-steps-decorator--below"></div>
        </div>
      </div>
    </div>
  </div>

  <section class="section apiIntroduction">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="sectionHeading sectionHeading--alignLeft">
            <span class="section-status badge badge-primary">New</span>
            <h2 class="apiIntroduction-title sectionHeading-title">Watches bought and sold on eBay with the security of EMS254</h2>
          </div>
          <p class="apiIntroduction-desc">
            eBay has partnered with EMS254 to help facilitate all payments on watches sold for $10,000 or more in the U.S. In order to enhance the luxury watch shopping experience, eBay covers any fees charged by EMS254 for the use of their service when purchasing eligible watches.
          </p>
          <a href="/partners/landing/ebaywatches" class="btn btn-primary btn-lg">Learn More</a>
        </div>
        <div class="col-md-6">
          <figure class="apiIntroduction-figure">
            <img src="https://www.escrow.com/build/images/ebay/ebay_watch_front.jpg" class="apiIntroduction-img img-fluid" alt="Escrow.com integration with eBay Watches">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Bootstrap JavaScript (optional, for some components) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
